extends layout

block content
  //- The game goes in this div!
  #game-container 
  #word-wrapper
    h1#main-word []
  form(action="")
    input(autocomplete="off" maxlength="1")#letter
    br
    .buttons
      button(type="button")#submit-before Before
      button(type="button")#submit-after After
      br
      button(type="button")#reset-word Reset Word

  br
  h3 Players
  ul#player-list
  script(src="/socket.io/socket.io.js")
  script(src="/public/js/game-client.js")

  //- react sources
  script(src="https://unpkg.com/react@17/umd/react.development.js" crossorigin)
  script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin)