extends layout

block lbanner
  #banner
    .navbar-header
      a(href="/") SuperGhost Online


block content
  //- The game goes in this div!
  #game-container 
    //- Chat Component
    <div id="chat_container"></div>
  #word-wrapper
    h1#main-word []
  form(action="")
    input(autocomplete="off" maxlength="1")#letter
    br
    .buttons
      button(type="button")#submit-before Before
      button(type="button")#submit-after After
      br
      button(type="button")#reset-word Reset Word
      br
      button(type="button")#check-word Check Word
      //-#check-word

  br
  h3 Players
  ul#player-list

  h3#test
  h3#debug
  script(src="/socket.io/socket.io.js")
  script(src="/public/js/game-client.js")

  //- react sources
  script(src="https://unpkg.com/react@17/umd/react.development.js" crossorigin)
  script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin)

  script(src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin)
  script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" crossorigin)
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" crossorigin)
  script(src="https://cdn.jsdelivr.net/npm/react-scroll-to-bottom@4.1.0/lib/index.min.js" crossorigin)

  style
    include ../public/css/chat.css
    include ../public/css/input.css
    include ../public/css/infoBar.css
    include ../public/css/message.css
    include ../public/css/messages.css

  //- Chat react sources
  script(type="text/babel" src="/public/react/chat.js")

  //-axios
  //-script(src="https://unpkg.com/axios/dist/axios.min.js")
  //-script(src="/public/react/word-check-file.js")

block abouts
  div.about
    a(href="/about") About
    | 
    a(href="https://github.com/danielq987/superghost-app")
      button(type=button)#github
        img(src="/public/img/mark-github.svg")
