extends layout

block content
  //- The game goes in this div!
  #game-container 
  #word-wrapper
    h1#main-word []
  form(action="")
    input(autocomplete="off" maxlength="1")#letter
    br
    .buttons
      button(type="button")#submit-before Before
      button(type="button")#submit-after After
      br
      button(type="button")#challenge Challenge
      br
      button(type="button")#reset-word Reset Word
      br
      button(type="button")#check-word Check Word
      //-#check-word

  p#score
  h3#alert

  br
  h3 Players
  ul#player-list

  h3#test
  h3#debug


  //- react sources
  script(src="https://unpkg.com/react@17/umd/react.development.js" crossorigin)
  script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin)
  //-axios
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="/public/react/word-check-file.js")
  
  if ai
    script(src="/public/js/ai.js")
  else
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/game-client.js")