body {
  background-color: #001111;
  color: white;
  text-align: center;
}

#main-word {
  font-size: 50px;
  min-height: 50px;
  text-align: center;
}

form > * {
  margin: auto;
  display: block;
  text-align: center;
}

.buttons > * {
  margin: auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#navbar {
  padding-bottom: 10px;
  width: 50%;
}

#banner {
  display: block;
  height: 4rem;
}

#word-wrapper {
  margin: auto;
}

.navbar-header {
  font-size: 2rem;
  float: left;
}

.navbar-links {
  display: flex;
  float: right;
  margin: auto;
}

.navbar-links > a {
  margin: auto;
  font-size: 1.5rem;
}