body {
  background-color: #001111;
  color: white;
  text-align: center;
}

#main-word {
  font-size: 50px;
  min-height: 50px;
  text-align: center;
}

form > * {
  margin: auto;
  display: block;
  text-align: center;
}

.buttons > * {
  margin: 3px;
  
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
}

#banner {
  display: block;
  height: 4rem;
}

#word-wrapper {
  margin: auto;
}

.navbar-header {
  font-size: 2rem;
  padding-top: 10px;
  padding-left: 20px;
  float: left;
}

.navbar-links {
  display: flex;
  float: right;
  margin: auto;
}

.navbar-links > a {
  margin: auto;
  font-size: 1.5rem;
}

.index-banner {
  margin-top: 3rem;
  font-size: 2rem;
  float: center;
}

.about {

  background-color: #001111;
  color: #fff;
  clear: both;
  text-align: center;
  position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

#github {
  border-radius: 5px;
  background-color: white;
  padding: 0px;
  width: 30px;
  height: 30px;
}

#game-name{
  margin: 3px;
}

#game-code{
  margin: 3px;
}

#create-room-btn{
  margin: 3px;
}

#join-room-btn{
  margin: 3px;
}